:root {
  --white: #ffffff;
  --black: #000;
  --biored: #cf2e2e;
  --brown: #6f2f1e;
  --brownlight: #a0442b;
  --transgrey: rgba(0, 0, 0, 0.05);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../assets/fonts/Avenir-Black.tff) format('truetype');
  src: url(../assets/fonts/Avenir-Black.woff) format('woff');
}
body {
  text-align: center;
  background-color: var(--white);
  background-image: url('../assets/img/sagen-bright.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px 2100px;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
main {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 720px;
}
.sub-section {
  padding-left: 20px;
  padding-right: 20px;
}
.about {
  font-size: 12px;
  text-align: center;
  color: var(--brown);
}
a {
  color: var(--brownlight);
  text-decoration: none;
}
.link {
  border-bottom: 1px solid var(--brownlight);
}
.link:hover {
  color: var(--brown);
  border-bottom: 1px solid var(--brown);
}
h1 {
  margin: 0px;
  color: var(--black);
  font-family: AvenirBlack;
  font-size: 42px;
  line-height: 1em;
}
h2 {
  color: var(--brown);
  font-family: AvenirBlack;
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
  text-align: left;
}
h3 {
  color: var(--brown);
  font-family: AvenirBlack;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 20px;
}
#building {
  width: 100%;
}
#logo {
  width: 80%;
  max-width: 320px;
  margin-bottom: 10px;
}
#swish {
  width: 60%;
  max-width: 150px;
}
/* .trailer {
  max-width: 477px;
  max-height: 268px;
  position: relative;
} */
a.button {
  padding: 1px 6px;
  margin-bottom: 12 px;
  border: 1px outset buttonborder;
  font-size: 12px;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--brown);
  text-decoration: none;
}
.swish-number {
  color: var(--black);
  text-decoration: none;
}
.social-media {
  height: 40px;
  padding: 5px;
}
.summary-title {
  color: var(--brownlight);
  font-family: 'Khula', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}
p {
  color: var(--black);
  font-family: 'Khula', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}
details {
  color: var(--black);
  font-family: 'Khula', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 5px;
  cursor: pointer;
  /* display: inline; */
  text-align: left;
}
details > summary {
  /* list-style-type: '▼'; */
}

details[open] > summary {
  /* list-style-type: '▲'; */
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

article {
  padding-top: 0.5rem;
}

#page-title {
  display: inline;
}
/* figure progress */
h3,
h6 {
  margin: 0;
  line-height: 1em;
}
h6 {
  font-size: 0.8em;
  padding: 0 0 0.5em;
  color: #919191;
}
iframe {
  max-width: 477px;
  max-height: 268px;
  position: relative;
  padding-top: 0.5rem;
}
@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  @keyframes expand {
    from {
      width: 0%;
    }
    to {
      width: calc(100%);
    }
  }
}

@media screen and (min-width: 768px) {
  h6 {
    padding: 0;
    width: 75px;
    float: left;
    line-height: 100px;
  }
  .block {
    font-size: 1em;
  }
  .legend {
    width: 60%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px),
  only screen and (min-device-width: 375px) and (max-device-width: 720px) {
  body {
    background-size: 800px 1200px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
  }
  main {
    width: 100vw;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    font-size: 12px;
  }
}

/* IPHONE 5S/SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  body {
    background-size: 800px 1200px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 16px;
  }
  main {
    width: 100vw;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    font-size: 12px;
  }
}
